extends layout

block content
  h1= title
  p(class='note') Provide your Tesla.com credentials to link your account to Alexa.  

  form(method="POST", action="/login")
    div(class='panel')
      p(class='panelHeader') Sign In
      hr
      p
        input(type='email', class='logon', name='username', placeholder='Email address')
      p
        input(type='password', class='logon', name='password', placeholder='Password')
      p
        input(type='submit', class='button', value='Link Account')
  br
  br
  p(class='note') 
    | Refer to the 
    a(href='/privacy') Privacy Statement
    |  and 
    a(href='/terms') Terms of Use
    |  for important information and additional details on your rights and obligations with respect to the use of this skill and service.
  