extends layout

block content
  h1= title

  h3 TERMS
  ul
    li This website and its associated Alexa Skill are herein referred to as the SERVICE.
    li The OAuth token acquired as part of the account linking process is herein referred to as the TOKEN.
    li The individual using the service is herein referred to as the USER.
    li Amazon and the Alexa service are herein referred to as ALEXA.
    li Tesla Motors Corp and Tesla.com are herein referred to as TESLA.

  h3 INFORMATION COLLECTED
  p The SERVICE receives the provided logon credentials and acquires a TOKEN on behalf of the USER.
  
  h3 USE OF INFORMATION COLLECTED
  p The SERVICE provides the acquired TOKEN to ALEXA for use with the associated Alexa Skill.
  
  h3 INFORMATION RETENTION
  p The SERVICE does NOT retain information the USER provides, or that the SERVICE acquires on behalf of the USER. 
    | Logon credentials are maintained only long enough to successfully acquire a TOKEN.
  p The TOKEN acquired by the SERVICE can be invalidated at any time by changing the associated TESLA account password.
  p Alternatively, disabling the associated skill will cause the ALEXA to discard the token that it holds.

  h3 INFORMATION SHARING
  p The TOKEN acquired on behalf of the USER is provided to ALEXA.  The TOKEN is secured during
    | transport using the methods provided by ALEXA.
  p The SERVICE does NOT sell or share information it acquires with 3rd parties other than ALEXA and TESLA.
    
  h3 AFFILIATION
  p The SERVICE is neither sanctioned by nor affiliated with TESLA in any way.
  