extends layout

block content
  h1= title
  hr
  p This service is not sanctioned by or affiliated with Tesla Motors or Tesla.com
  p  
  p This site does not and will not retain the login credentials you provide.  Credentials are kept only long enough to acquire a Tesla OAuth token to provide to Alexa and then they are discarded.  Tokens can be invalidated at any time by changing your account password.
