extends layout

block content
  h1= title

  p Please read carefully.  By enabling and using this skill and associated service you accept all terms of use defined herein.

  h2 Warranty Disclaimer
  p You may use this service with the understanding that doing so is <strong>AT YOUR OWN RISK</strong>. 
    | No warranty, express or implied, is made with regards to the fitness or safety of this service for 
    | any purpose. If you use this service to query or change settings of your vehicle you understand 
    | and accept that it is possible to make changes that could inadvertently lower the security of your 
    | vehicle, or cause damage, through actions including but not limited to:
    ul
      li Unlocking the vehicle
      li Remotely starting the vehicle
      li Opening the sunroof
      li Opening the frunk or trunk
      li Reducing the current battery charge level
      li Impacting the long-term health of the battery
